name: release-please

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          release-type: simple
          package-name: project
          bump-minor-pre-major: true
          changelog-types: |
            [
              { "type": "feat", "section": "Features", "hidden": false },
              { "type": "fix", "section": "Bug Fixes", "hidden": false },
              { "type": "docs", "section": "Documentation", "hidden": false },
              { "type": "refactor", "section": "Refactors", "hidden": false },
              { "type": "perf", "section": "Performance", "hidden": false },
              { "type": "test", "section": "Tests", "hidden": false },
              { "type": "build", "section": "Build System", "hidden": false },
              { "type": "ci", "section": "Continuous Integration", "hidden": false },
              { "type": "chore", "section": "Chores", "hidden": false }
            ]
