name: Mark stale issues and pull requests

on:
  schedule:
    - cron: '35 1 * * *'

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: 'This issue is stale because it has been open 30 days with no activity. Remove stale label or comment to keep it open.'
          stale-pr-message: 'This PR is stale because it has been open 30 days with no activity.'
          days-before-stale: 30
          days-before-close: 14
